<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>LoveCake Shop</title>
    <link rel="icon" type="image/png" href="~/images/Lovecake.png">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://kit.fontawesome.com/1bd9fa3a2e.js" crossorigin="anonymous"></script>
</head>

<body>

<!--  -->
<div style="background-color: #c378e8;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 categories border rounded-top border-dark"
                 style="margin-top: 20px;">
                <a asp-action="IndexAll" asp-controller="Home" class="text-decoration-none text-black">
                    <p class="hidden-sm hidden-xs text-center">DANH MỤC SẢN PHẨM</p>
                </a>

            </div>
            <div class="col-lg-10 d-flex align-items-center justify-content-between">

                <!--RIGHT HEADER NAM CODE-->

                <div
                    class="col-lg-2 col-md-3 col-sm-3 pt-2 pb-2 text-center d-flex align-items-center justify-content-center">
                    <a asp-action="Index" asp-controller="Home"
                       class="d-flex align-items-center justify-content-center rounded-circle"
                       style="height: 80px; width: 80px; overflow: hidden">
                        <img class="border rounded-circle" src="~/images/Lovecake.png" alt="logo">
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7 d-flex align-items-center p-0">
                    <form class="search-box" method="post" asp-controller="Home" asp-action="SearchProduct">
                        <!--NAM CODE HERE-->
                        <input name="value-search" type="text" value="" placeholder="Search...">
                        <button id="searchBtn" name="search-btn" type="submit" class="search-box-btn">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 header_option">


                    @if (ViewBag.getUsername != null && !ViewBag.getUsername.Equals(""))

                    {
                        <div>
                            <span class="input-group-append ps-2">
                                <a asp-controller="Cart" asp-action="ViewListCart">
                                    <i class="fa fa-cart-plus fs-5 ps-2 px-2"></i>
                                </a>
                            </span>
                            <p>Giỏ hàng</p>
                        </div>
                        <div>
                            <span class="input-group-append ms-4">
                                <a asp-controller="Order" asp-action="ViewListOrder">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                            </span>
                            <p>Đơn hàng</p>
                        </div>
                        <div>
                            <span class="input-group-append ms-4">
                                <a asp-action="Logout" asp-controller="Logout">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                            </span>
                            <p>Logout</p>
                        </div>
                    }

                    @if (ViewBag.getUsername == null || ViewBag.getUsername.Equals(""))
                    {
                        
                    <div>
                        <span class="input-group-append ms-4">
                            <a asp-action="Login" asp-controller="Login">
                                <i class="fa fa-newspaper-o"></i>
                            </a>
                        </span>
                        <p>Login</p>
                    </div>
                    }


                </div>
                <!--END NAM CODE-->
            </div>
        </div>
    </div>
</div>
<div class="container">

    @RenderBody()

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.sub-btn').click(function () {
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>
<script src="~/js/profile.js"></script>
</body>

</html>