@model MVCG4.Models.Product
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<style>
    .hidden-password {
        -webkit-text-security: disc;
        -moz-text-security: disc;
        text-security: disc;
    }

    a {
        color: #3e3e3e;
        text-decoration: none;
    }
</style>
<hr>

<form method="post" asp-action="Delete" class="border border-2 rounded-4 p-4 pt-2" style="margin: 50px 30px">
    <div class="text-center mb-3">
        <span class="h3 fw-bold">Xóa sản phẩm</span>
    </div>

    <div class="form-group w-100">
        <div class="form-hover">
            <input hidden readonly asp-for="ProId"> <span asp-validation-for="ProId" class="text-danger"></span>
        </div>
        <span class="errorFullname text-danger fw-bold font-italic"></span>
    </div>
    <div class="form-group w-100">
        <div class="form-hover">
            <input hidden readonly asp-for="CatId"> <span asp-validation-for="CatId" class="text-danger"></span>
        </div>
        <span class="errorFullname text-danger fw-bold font-italic"></span>
    </div>


    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="ProName" name="ProName" class="form-control form-control-lg" asp-for="ProName"
                readonly />
            <label asp-for="ProName" class="form-label">ProName</label>
        </div>
    </div>
    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="ProImage" name="ProImage" class="form-control form-control-lg" asp-for="ProImage"
                readonly />
            <label asp-for="ProImage" class="form-label">Product Image</label>
        </div>
    </div>




    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="Origin" name="Origin" class="form-control form-control-lg" asp-for="Origin"
                readonly />
            <label asp-for="Origin" class="form-label">Origin</label>
        </div>
    </div>



    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="Brand" name="Brand" class="form-control form-control-lg" asp-for="Brand" readonly />
            <label asp-for="Brand" class="form-label">Brand</label>
        </div>
    </div>



    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="ProQuantity" name="ProQuantity" class="form-control form-control-lg"
                asp-for="ProQuantity" readonly />
            <label asp-for="ProQuantity" class="form-label">Quantity</label>
        </div>
    </div>

    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="ProPrice" name="ProPrice" class="form-control form-control-lg" asp-for="ProPrice"
                readonly />
            <label asp-for="ProPrice" class="form-label">Price</label>
        </div>
    </div>

    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="Discount" name="Discount" class="form-control form-control-lg" asp-for="Discount"
                readonly />
            <label asp-for="Discount" class="form-label">Discount</label>
        </div>
    </div>

    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="ProDescription" name="ProDescription" class="form-control form-control-lg"
                asp-for="ProDescription" readonly />
            <label asp-for="ProDescription" class="form-label">Description</label>
        </div>
    </div>

    <div class="form-group w-100 mt-4">
        <div class="form-hover">
            <input type="text" id="CreateDate" name="CreateDate" class="form-control form-control-lg"
                asp-for="CreateDate" readonly />
            <label asp-for="CreateDate" class="form-label">Create Date</label>
        </div>
    </div>



    <div class="form-group w-100">
        <div class="form-hover">
            <input hidden readonly asp-for="IsDelete"> <span asp-validation-for="IsDelete" class="text-danger"></span>
        </div>
    </div>



    <span class="error text-danger fw-bold font-italic text-center"></span>

    <div class="form-outline mb-3 mt-4">
        <input type="submit" value="Delete" name="btnDeleteCus" class="btn btn-warning w-100" style="font-size: 20px" />
    </div>
</form>








@*
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<form asp-action="Delete" method="post">
<div class="form-group w-100 mt-4">
<label asp-for="AccId"></label> : <input readonly asp-for="AccId"> <span asp-validation-for="AccId"
class="text-danger"></span>
</div>
<br>
<div class="form-group w-100 mt-4">
<label asp-for="Username"></label>:<input readonly asp-for="Username"> <span
asp-validation-for="Username" class="text-danger"></span>
</div>
<br>
<div class="form-group w-100 mt-4">
<label asp-for="Password"></label>:<input readonly asp-for="Password"> <span
asp-validation-for="Password" class="text-danger"></span>

</div>
<br>
<div class="form-group w-100 mt-4">
<label asp-for="Fullname"></label>:<input readonly asp-for="Fullname">
<span asp-validation-for="Fullname" class="text-danger"></span>
</div>
<br>
<div class="form-group w-100 mt-4">
<label asp-for="PhoneNumber"></label>:<input readonly asp-for="PhoneNumber">
<span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<br>
<div class="form-group w-100 mt-4">
<label asp-for="Email"></label>:<input readonly asp-for="Email">
<span asp-validation-for="Email" class="text-danger"></span>
</div>
<br>
<div class="form-outline mb-3 mt-4">
<input type="submit" value="Delete" class="btn btn-outline-success">
<input type="reset" class="btn btn-outline-danger">
<a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
</div>
</form>
</div>
</div>
</div> *@
